{% include 'general/head.html' %}
<title>Admin Dictionary</title>
{% include 'general/menu.html' %}
{% include 'general/adminMenu.html' %}
<label for="language"></label>
{% include 'general/dictionarySelector.html' %}
<table>
    <thead>
    <tr>
        <th>Word</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="words">
    </tbody>
</table>
<input id="word" type="text" placeholder="word"/>
<button id="wordButton"
        onclick="
        var word = $('#word');
        var language = $('#language');
        if (word.val()) {
            database().wordsPostOne({'language_id': language.val(), 'word': word.val()});
            word.val('');
        }">Add</button>
<script>
    var words = $("#words");
    var dictionary = $("#dictionary");

    elementify(words).wordsGetMany.populateTable({
        "population": (element) => [
            {
                "id": element._id,
                "html": element.word
            },
            {
                "child": $("<button>", {
                    "onclick": "database().wordsDeleteOne({'_id': '" + element._id.toString() + "'}); database().wordsGetMany({'language_id': '" + dictionary.val() + "'})",
                    "html": "Delete"
                })
            }
        ]
    });
</script>
<script src="{{ url_for('static', filename='js/dictionary.js') }}"></script>
{% include 'general/footer.html' %}