{% include 'general/head.html' %}
<title>Admin Languages</title>
{% include 'general/menu.html' %}
<table >
    <thead>
    <tr>
        <th>Language</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="languages">
    </tbody>
</table>

<input id="language" type="text" placeholder="language"/>
<button id="languageButton"
        onclick="if ($('#language').val()) {
            database().languagesPostOne({'language': $('#language').val()});
            $('#language').val('');
        }">Add</button>
<script src="{{ url_for('static', filename='js/adminLanguages.js') }}"></script>
</body>
</html>