{% include 'general/head.html' %}
<title>Admin Languages</title>
{% include 'general/menu.html' %}
{% include 'general/adminMenu.html' %}
<ul id="languagesclassifications">

</ul>
<script>
    elementify($("#languagesclassifications")).languagesclassificationsGetMany.populate({
        "format": function (info) {
            info.response.elements = tree(info.response.elements);
        },
        "population": function (parent, element) {
            branchTree(element).appendTo(parent);
        }
    });
</script>
<!--
    /*
    var a = {
        "name": "level1",
        "children": [
            {
                "name": "level2a",
                "children": [
                    {
                        "name": "level3a",
                        "children": []
                    },
                    {
                        "name": "level3b",
                        "children": []
                    }
                ]
            },
            {
                "name": "level2b",
                "children": [
                    {
                        "name": "level3c",
                        "children": [{
                            "name": "level4",
                            "children": []
                        }]
                    }
                ]
            }
        ]
    };

    function create_list(obj) {
        console.log(obj);
        var masterItem = $("<li>", {
            "html": obj.name
        });
        if (obj.children.length) {
            var list = $("<ul>").appendTo(masterItem);
            for (var i = 0; i < obj.children.length; i++) {
                var child = obj.children[i];
                create_list(child).appendTo(list);
            }
        }
        return masterItem;
        /*

        for (var i = 0; i < elements.length; i++) {
            var element = elements[i];
            console.log(element);
            var item = $("<li>", {
                "html": element.name
            });
            if (element.children.length) {
                create_list(element).appendTo(item);
            }
            item.appendTo(list);
        }
        return list;
        */
    }
    //var l = create_list(["a", "b", ["1", ["1", "2", "3"]], "c"]);
    /*
    var l = create_list(a);
    l.appendTo($("#languagesClassifications"));
    function test(element) {
        if (element.children.length) {
            var list = $("<ul>");
            for (var i = 0; i < element.children.length; i++) {
                test(element.children[i]).appendTo(list);
            }
            return list;
        } else {
            return $("<li>", {
                "html": element.name
            });
        }
    }
    /*
    elementify($("#languagesClassifications")).languagesclassificationsGetMany.populateList({
        "population": function (element) {
            if (element.children) {
                $("<ul>")
                return {
                    "child": $("<ul>", {
                        ""
                    })
                }
            }
        }
    });
    */
<!--
<input id="language" type="text" placeholder="language"/>
<button id="languageButton"
        onclick="if ($('#language').val()) {
            database().languagesPostOne({'language': $('#language').val()});
            $('#language').val('');
        }">Add</button>
<script src="{{ url_for('static', filename='js/adminLanguages.js') }}"></script>
<h1>Languages</h1>
<!--

[
<ul>
<ul/>
<ul id="families">
    <li>slavic
        <ul id="slavic">
            <li>west
                <ul id="west-slavic">
                    <li>polish</li>
                    <li>czech</li>
                    <li>slovak</li>
                </ul>
            </li>
            <li>south
                <ul id="south-slavic">
                    <li>slovenian</li>
                    <li>croatian</li>
                    <li>bosnian</li>
                    <li>montenegrin</li>
                    <li>serbian</li>
                    <li>macedonian</li>
                    <li>bulgarian</li>
                </ul>
            </li>
            <li>east
                <ul id="east-slavic">
                    <li>russian</li>
                    <li>belorussian</li>
                    <li>ukrainian</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>germanic
        <ul id="germanic">
            <li>west
                <ul id="west-germanic">
                    <li>english</li>
                    <li>german</li>
                    <li>dutch</li>
                </ul>
            </li>
            <li>north
                <ul id="north-germanic">
                    <li>icelandic</li>
                    <li>norwegian</li>
                    <li>danish</li>
                    <li>swedish</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>romance
        <ul id="romance">
            <li>italian</li>
            <li>french</li>
            <li>spanish</li>
            <li>portuguese</li>
        </ul>
    </li>
    <li>japanese</li>
    <li>hebrew</li>
    <li>ancient
        <ul>
            <li>slavic</li>
            <li>norse</li>
            <li>latin</li>
            <li>hebrew</li>
            <li>greek</li>
            <li>egyptian</li>
        </ul>
    </li>
</ul>
-->
{% include 'general/footer.html' %}