<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>-->
    <script src="{{ url_for('static', filename='js/basicTools.js') }}"></script>
    {% include 'general/constants.html' %}
    <script src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/communication.js') }}"></script>
    <script src="{{ url_for('static', filename='js/constructTree.js') }}"></script>