{% include 'general/head.html' %}
<title>Admin Languages</title>
{% include 'general/menu.html' %}
{% include 'general/dictionarySelector.html' %}
<ul id="words"></ul>
<script>
    var words = $("#words");
    var dictionary = $("#dictionary");

    elementify(words).wordsGetMany.populateList({
        "population": (element) => {
            return {
                "id": element._id,
                "html": element.word
            };
        }
    });
</script>
<script src="{{ url_for('static', filename='js/dictionary.js') }}"></script>
{% include 'general/footer.html' %}