{% include 'general/head.html' %}
<title>Admin Languages</title>
{% include 'general/menu.html' %}
<label for="dictionary">Dictionary: </label>
<select id="dictionary" onchange="database().wordsGetMany({'language_id': $(this).val()});">
    <option class="optionEmpty" disabled selected hidden></option>
</select>

<ul id="words">
</ul>
{% if language_id %}
    <script>var languageId = "{{ language_id }}"; console.log(languageId);</script>
{% endif %}
<script src="{{ url_for('static', filename='js/dictionary.js') }}"></script>
</body>
</html>