{% include 'head.html' %}
<title>Languages</title>
{% include 'menu.html' %}
<ul class="languages-get">
</ul>
<script>
    var list = $(".languages-get");
    list.on("languages-get", function (event, response) {
        console.log("OAIWJdoaiwjdoiawjdoaiwjdoiawd");
        console.log(response);
        list.empty();
        for (var i = 0; i < response.languages.length; i++) {
            var obj = response.languages[i];
            $("<li>",{
                id: obj._id,
                html: obj.language
            }).appendTo(list);
        }
    });
</script>

</body>
</html>