{% include 'head.html' %}
<title>Languages</title>
{% include 'menu.html' %}
<ul class="<script>document.write()</script>">
</ul>
<script>
    /*
    var list = $(".languages-get");
    list.on("languages-get", function (event, response) {
        console.log("OAIWJdoaiwjdoiawjdoaiwjdoiawd");
        console.log(response);
        list.empty();
        response.languages.forEach(function (obj) {
            $("<li>", {
                id: obj._id,
                html: obj.language
            }).appendTo(list);
        });x1x
    });
    function activate(element, event, reaction) {
        element.on(event, function (event, response) {
            element.addClass(event);
            reaction(element, response);
        })
    }
    events ["languages-get-one", "languages-get-many"]

    function getEvents(callback) {
        var events = [
            "languagesGetOne",
            "wordsGetOne",
            "usersGetOne"
        ];
        var obj = {};
        events.forEach(function (event) {
            obj[event] = callback(event);
        });
        return obj
    }
    var events = [
        "LanguagesGEt
    ]
    /*
    element($("#1")).languagesGetMany.Activate(function() {});
    */
</script>

</body>
</html>