<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
</head>
<body>
<p class="test">Hello</p>
<p class="test">Aowidjawd</p>
<p class="test">OAIWdjaoiwdjawod</p>
<button id="but">Click</button>
<script>
    $("#but").on("test", function(event, data) {
        console.log(data);
        $(".test").css("color", data.color);
    });
</script>
<p>{{ g.collections[0] }}</p>
<p>{{ g.collections[2] }}</p>
<p>{{ g.collections[3] }}</p>
<script>
    var a = "{{ ','.join(g.collections) }}".split(",");
    console.log(a);
</script>
</body>
</html>